<mat-toolbar class="toolbar" color="primary">
  <button
    routerLink="/"
    class="toolbar_content"
    mat-button
    style="font-size: 22px"
  >
    #Барахолка
  </button>

  <div class="field_wrapper">
    <input
      type="text"
      placeholder="Поиск"
      maxlength="50"
      class="toolbar_field"
    />
    <mat-icon>search</mat-icon>
  </div>

  <div class="toolbar_content">
    <button routerLink="/cart" mat-icon-button>
      <mat-icon matBadge="4" matBadgeColor="warn">shopping_cart</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div class="wrapper">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="footer_item">Логотип?</div>
  <div class="footer_container">
    <div class="footer_item">
      <p class="footer_container_header">Помощь</p>
      <button routerLink="" mat-button>Доставка</button>
      <button routerLink="" mat-button>Оплата</button>
      <button routerLink="" mat-button>О нас</button>
    </div>
    <div class="footer_item">
      <p class="footer_container_header">Андер девелоп</p>
    </div>
    <div class="footer_item">
      <p class="footer_container_header">Контакты</p>
      <a target="_blank" href="https://github.com/SkyfaceD"
        ><mat-icon svgIcon="github"></mat-icon>Github</a
      >
      <a target="_blank" href="https://vk.com/muslim2012g"
        ><mat-icon svgIcon="vk"></mat-icon>ВКонтакте</a
      >
      <a target="_blank" href="https://www.reddit.com/r/Genshin_Impact/"
        ><mat-icon svgIcon="reddit"></mat-icon>Genshin Impact</a
      >
    </div>
  </div>
  <div class="footer_item"></div>
</footer>
